{% extends 'base.html' %}

{% block header %}
    <section id="middle">
        <div class="jumbotron bg-light">
            <div class="container">
                <div class="row">
                    <div class="p-1 mb-2 bg-info text-center text-white"><h1>Your Order History</h1> 
                </div>
                <div class="col-md-12 text-center">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#Order ID</th>
                            <th scope="col">Name of Events</th>
                            <th scope="col">Number of Tickets</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row ">MD123</th>
                                <td>Mayday Australia Tour - Sydney</td>
                                <td>2</td>
                                <td>10/05/2023 07:00PM</td>
                                <td class="float-right">
                                    <a href="{{url_for('event.confirmation')}}">
                                        <button class="btn btn-success">Confirmed</button>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">TS456</th>
                                <td>Travis Scott Raging in Brisbane</td>
                                <td>4</td>
                                <td>08/08/2023 08:00PM</td>
                                <td class="float-right">
                                <button class="btn btn-secondary" disabled>Inactive</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">PM789</th>
                                <td>Asap Rocky in the house - Melbourne</td>
                                <td>2</td>
                                <td>10/03/2023 07:00PM</td>
                                <td class="float-right">
                                    <button class="btn btn-info" disabled>Finished</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

{% block content %}   
{% endblock %}
</body>
</html>